{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<section id="display_message_section">
	<div class="display_message">
		<div class="display_message_content">
			<h1>{% trans "Login Cancelled" %}</h1>


			{% url 'account_login' as login_url %}

			<p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}"><span class="anchorSpan">Sign in</span></a></a>.{% endblocktrans %}</p>


		</div>
	</div>
</section>
{% endblock %}
