{% extends "polls/common.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% block content %}
<section id="display_message_section">
    <div class="display_message">
        <div class="display_message_content">
			<h1>{% trans "Set Password" %}</h1>

			    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <input type="submit" name="action" value="{% trans "Set Password" %}"/>
			    </form>
		</div>
    </div>
</section>
{% endblock %}

