{% extends "polls/common.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% block content %}
<section id="display_message_section">
    <div class="display_message">
        <div class="display_message_content">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>


            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="anchorSpan">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="." class="passwordResetKeyForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="submit" type="submit" name="action" value="{% trans "Change Password" %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
