{% load static %}
{% load i18n %}
{% block content %}
<section id="display_message_section">
	<div class="display_message">
		<div class="display_message_content">
			{% block head_title %}{% trans "Change Password" %}{% endblock %}

			    <h1>{% trans "Change Password" %}</h1>

			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button class="submit" type="submit" name="action">{% trans "Change Password" %}</button>
			    </form>
		</div>
	</div>
</section>
{% endblock %}
