{% load static %}

{% load i18n %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/signup.css' %}" />
{% endblock %}
{% block extra_js %}
	<script src="https://www.google.com/recaptcha/api.js" ></script>
{% endblock %}
{% block content %}
<section id="content">
	<div class="signup">
		<div class="signupContent">
			<p class="headingSignup">{% blocktrans %}Already have an account ? Then please <a href="{{ login_url }}"><span class="anchorSpan">Sign in</span></a>.{% endblocktrans %}</p>

			<form class="signupContentForm" id="signup_form" method="post" action="{% url 'account_signup' %}?next={{ request.GET.next }}&&ref={{ request.GET.ref }}" enctype="multipart/form-data">
			  {% csrf_token %}
			  {{ form.as_p }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button type="submit" class="submit btn cta" id="signupButton">Sign Up</button>
			</form>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function(){
		$('.category_checkbox').prop('checked', true);
		$("#signupButton").bind('click',function(){
			// console.log($("#signupButton"));
			$("#signupButton").unbind('click').click();
			$("#signupButton").attr("disabled","disabled");
			return false;
		});
	});
</script>

{% endblock %}
