input::-webkit-input-placeholder { font-size: 9pt;}
input::-moz-placeholder { font-size: 9pt;}
input:-ms-input-placeholder { font-size: 9pt;}
input:-moz-placeholder { font-size: 9pt;}
@media only screen and (max-width: 480px){
	.page-header.navbar .page-logo{
		margin-left: 0px !important;
		margin: 0 auto !important;
    	display: block !important;
    	width: 65% !important;
    	padding:0 !important;
    	padding-left: 0 !important;
    	float: none !important;
	}

	.page-header.navbar .top-menu .navbar-nav {
   		margin: 0 auto !important;
    	width: 100% !important;
    	padding-top: 4rem;
    	padding-left: 6rem;
	}
	span.title{
		display: none !important;
	}
	#search-box{
		position: initial;
		right: initial;
		margin: 0 auto;
		margin-bottom: 1rem;
	}
	#eduzen-search{
		width:30rem !important;
	}
	i{
		cursor:pointer;
	}
}
@media only screen and (min-width: 480px) and (max-width: 800px){
	ul.central-library-book-list{
		padding-left:0;
	}
	li.central-cover-image-li{
		width:28%;
		margin:1rem;
	}
}
