.btn{
  font-size: 12px;
  font-weight: bold;
}
.signup-logo{
    display: block;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (max-width: 480px){
  input::-webkit-input-placeholder { font-size: 8pt;}
  input::-moz-placeholder { font-size: 8pt;}
  input:-ms-input-placeholder { font-size: 8pt;}
  input:-moz-placeholder { font-size: 8pt;}
}
