.sidebar-list-background{
	background:black !important;
}
#searchTextButton{
	background-color: #1BBC9B !important;
}

#searchText{
	border: 1px solid;
  margin-top: 1rem;
}

.loader {
    position: fixed;
    top: 45%;
    right: 45%;
    background: white;
    padding: 1rem;
    z-index: 5;
}

@media only screen and (max-width: 480px){
	.page-header.navbar .menu-toggler .responsive-toggler {
    	/*display: none;*/
	}
	li.cover-image-li{
		width:90% !important;
	}
	#area{
		padding:0.5rem 0 !important;
	}
	.page-container{
		margin-top:17px !important;
	}
	.book-functions{
    	transform:none;
    	top:initial;
			margin-top:6rem;
			left:5%;
  	}
  	.f button.green-meadow{
    	padding:7px 10px;
  	}
}
@media only screen and (max-width: 800px){
	.book-functions{
		top:50px !important;
	}
	.page-container{
		margin-top:35px !important;
	}
	.page-header.navbar .menu-toggler .responsive-toggler {
    	/*display: none;*/
    	background-color: #1BBC9B;
	}
	ul.library-book-list{
		padding-left:0;
	}
	li.cover-image-li{
		width:28%;
	}
}

@media only screen and (max-width: 990px){
	#menu-items-text{
		display:none;
	}
	.book-functions{


	}
}
.errorlist {
	color:red;
}