.logo-default{
	display: block;
}
.portlet-title{
	background-color: #67809F;
	border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
    color: #fff;
    min-height: 41px;
}
.caption{
	color: #FFFFFF;
	padding: 11px 0 9px 0;
	float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}
.portlet-body{
	    background-color: #fff;
    padding: 10px;
    clear: both;
}
.survey-question textarea{
    width:100%;
}
.text-distraction{
	    width: 80%;
    border: 0;
    border-bottom: 1px solid #666;
}
.tiles .tile{
    width:300px!important;
}
ul.view-modes{
    list-style-type: none;
    position: absolute;
    right:2rem;
    display: inline-block;
}
ul.view-modes li{
    display: inline;    
}
p.question_description_header , p.question_description{
    display: inline;
}
.question-body{
    margin-top:;
}
textarea.distraction-free-text{
    width:87%;
    display: block;
}
#pdf-body{
    width:750px;
}